<blitz-controller-view>
    <div id="signin_page" class="absolute top-[49%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[37%]">
        <img src="/art/signin_up/back3.svg" alt="Back3" class="h-full w-full object-fill" />
        <blitz-sound-button></blitz-sound-button>
        <form id="signin_form" class="absolute flex flex-col top-[54%] left-[50%] -translate-x-1/2 -translate-y-1/2 w-[65%]">
            <input type="email" id="email" placeholder="Email" class="focus:outline-none mb-[13%] text-[18px] lg:text-[1.8vw] text-[#A260ED]" />
            <input type="password" id="password" placeholder="Password" class="focus:outline-none  text-[18px] lg:text-[1.8vw] text-[#A260ED]" />
            <button class="absolute top-[-10%] right-[-26.5%] w-auto cursor-pointer hover:opacity-80">
                <img src="/art/signin_up/enter_button.svg" alt="Enter" class="h-[8vw] w-auto min-h-25 max-h-35" />
            </button>
        </form>
        <button id="google_signin_button" class="absolute top-[76.5%] right-[33%] w-auto cursor-pointer hover:opacity-80">
            <img src="/art/signin_up/Google_signin.svg" alt="Google Signin" class="h-[22px] xl:h-[1.8vw] w-auto " />
        </button>
        <button id="signup_button" class="absolute top-[90.5%] right-[80%] xl:right-[78%] w-auto cursor-pointer hover:opacity-80">
            <span class="text-[18px] xl:text-[1.8vw] text-[#F7E778] font-['Irish_Grover']">Sign Up</span>
        </button>
    </div>
</blitz-controller-view>