@import "tailwindcss";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100hv;
	background-color: #000;
}

#gameCanvas {
	height: 100%;
	width: 100%;
	border: 2px solid #595959;
	/* image-rendering: crisp-edges; */
	scale: 0.75;
}