<blitz-controller-view>
    <!-- Cache breaker: 2025-01-13 -->
    <div id="great_success_page" class="absolute top-[49%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[37%]">
        <img src="/art/star.svg" alt="Star" class="absolute top-[10%] left-[12%] h-[18%] w-auto animate-pulse-slow" />
        <img src="/art/star2.svg" alt="Star" class="absolute top-[35%] left-[5%] h-[13%] w-auto animate-pulse-slow" />
        <img src="/art/star3.svg" alt="Star" class="absolute top-[10%] right-[8%] h-[20%] w-auto animate-pulse-slow" />
        <img src="/art/star.svg" alt="Star" class="absolute bottom-[10%] left-[35%] h-[13%] w-auto animate-pulse-slow" />
        <img src="/art/star2.svg" alt="Star" class="absolute bottom-[8%] right-[10%] h-[10%] w-auto animate-pulse-slow" />
        <img src="/art/signin_up/back_great_success.svg" alt="BackGreatSuccess" class="h-full w-full object-fill" />
        
        <!-- Clean success message only -->
        <!-- Placeholder for success message -->
        <div class="absolute top-[35%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
        </div>
    </div>
</blitz-controller-view>