<div class="absolute top-[5%] right-[5%] w-min-[200px] h-[180px]">
    <img src="/art/error.svg" alt="Error" class="h-full w-full object-fill" />
    <button id="close_error_button" class="absolute top-[20%] lg:top-[15%] right-[5%]  w-[10%] cursor-pointer hover:scale-110 transition-transform duration-300">
        <img src="/art/close-button.svg" alt="Close" class="h-full w-full object-fill" />
    </button>
    <p class="absolute top-[40%] mx-[3%] text-[#EF7D77] text-[100%] font-['Irish_Grover']"></p>
    <p class="absolute lg:top-[10%] top-[15%] left-[5%] text-[#EF7D77] text-[150%] font-['Irish_Grover']">Error!</p>
</div>
