<div class="absolute top-[5%] right-[5%] w-min-[200px] h-[180px]">
    <img src="/art/note.svg" alt="Confirm" class="h-full w-full object-fill" />
    <p class="absolute top-[40%] mx-[3%] text-[#EE9C47] text-[100%] font-['Irish_Grover']"></p>
    <p class="absolute top-[5%] left-[5%] text-[#EE9C47] text-[150%] font-['Irish_Grover']">Confirm</p>
    <div class="absolute bottom-[10%] left-[50%] transform -translate-x-1/2 flex gap-4">
        <button id="confirm_yes_button" class="bg-[#EE9C47] text-white px-4 py-2 rounded-lg font-['Irish_Grover'] text-[80%] hover:scale-110 transition-transform duration-300">
            Yes
        </button>
        <button id="confirm_no_button" class="bg-[#EF7D77] text-white px-4 py-2 rounded-lg font-['Irish_Grover'] text-[80%] hover:scale-110 transition-transform duration-300">
            No
        </button>
    </div>
</div> 