<blitz-controller-view>
    <div id="choose_sign_in_up" class="absolute top-[49%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[36%]">
        <img src="/art/back2.svg" alt="Back2" class="h-full w-full object-fill" />
        <blitz-sound-button></blitz-sound-button>
        <div class="absolute top-[40%] left-[5%] h-[20%] w-auto flex gap-8">
            <button id="signup_button" class="cursor-pointer hover:opacity-80">
                <span class="text-[#FFF7AC] font-['Irish_Grover'] text-[38px] lg:text-[42px] xl:text-[50px] 2xl:text-[55px]">Sign up</span>
            </button>
        </div>
        <div class="absolute top-[40%] left-[60%] h-[20%] w-auto flex gap-8">
            <button id="signin_button" class="cursor-pointer hover:opacity-80">
                <span class="text-[#FFF7AC] font-['Irish_Grover'] text-[38px] lg:text-[42px] xl:text-[50px] 2xl:text-[55px]">Sign in</span>
            </button>
        </div>
    </div>
</blitz-controller-view>
