<div class="flex flex-row items-center justify-center relative h-[250px] w-[360px] md:w-[500px] md:h-[300px] border-[#81C3C3] border-8 rounded-4xl">
  <div id="profile-component" class="flex flex-row items-center justify-center h-full w-full">
    <div class="flex flex-col items-center justify-center h-full w-auto gap-7 border-0 max-w-[50%]">
      <p class="text-xl md:text-2xl font-bold text-[#81C3C3] underline underline-offset-6 decoration-3 pl-2">{{nickname}}</p>
      <div id="bio" class="w-full h-[100px] max-w-[90%] min-h-[40px] rounded-md p-2 pt-0 text-center text-[#81C3C3] border-[#81C3C3] border-2 overflow-hidden text-sm md:text-xl leading-tight break-words whitespace-normal">{{bio}}</div>
    </div>
    <div class="flex items-center justify-center h-[90%] w-[90%] max-w-[50%] p-2">
      <img id="profile-picture" src="{{profilePictureUrl}}" alt="Profile" class="w-full h-full object-contain object-center rounded-lg" style="aspect-ratio: 1/1; min-height: 200px; max-height: 250px;"/>
    </div>
  </div>
</div>


